{{>header}}

<div class="container">
  <input type="hidden" value="{{prod_as_string}}" id="prod_as_string">
  <div class="select_area">
    <div class="select_img_section">
      <div class="single-swiper">
        <div class="swiper-wrapper">
          {{#each product.images}}
              <div class="swiper-slide">
                  <div class="select_img_item">
                      <img src="{{this.link}}" alt="" class="s_img_i_product">
                  </div>
              </div>
          {{/each}}
        </div>
      </div>
      <div class="mini_slider">
        <div class="image-mini-slider swiper-container">
          <div class="image-mini-slider_wrapper swiper-wrapper">
              {{#each product.images}}
                  <div class="image-mini-slider__slide swiper-slide">
                      <div class="img-mini-slider__image">
                          <img src="{{this.link}}" alt="" class="img_slider_item">
                      </div>
                  </div>
              {{/each}}
          </div>
        </div>
      </div>
      <div class="select_product_description">
        <p class="p-r-des-text-2 w-100">{{product.desc}}</p>
      </div>
    </div>
    <div class="select_content_section">
      <p class="p-r-des-text">{{product.name}}</p>
      <p class="p-r-des-text-2 price-num-text mar-t-15">{{product.price}} Сум</p>
      <div class="color_p">
        <div class="color-b">
          {{#each product.colors}}
              <div class="color" style="background: {{this.hex}};"></div>
          {{/each}}
        </div>
        <div class="select_product_counter">
          <p class="p-r-des-text-2">Количество</p>
          <div class="select_num product-number">
            <div class="btn_set">
              <button class=" counter__btn select_counter plus_select post-single-btn-inc">
                <img src="/assets/angle-up-solid.svg" alt="" class="angle-arrow plus">
              </button>
              <button class="counter__btn select_counter minus_select minus post-single-btn-dec">
                <img src="/assets/angle-down-solid.svg" alt="" class="angle-arrow">
              </button>
            </div>
            <div class="select_input_block"><input class="product-num-text mar_def back_wh_select post-single-input" value="1"  disabled></div>
          </div>
        </div>
        <div class="basked-nav-panel">
          <button class="p-btn s-bnt product-order add-to-basket">Добавить в корзину</button>
        </div>
        <ul class="select_product_des">
          <li class="select_product_li select_product_li_border">
            <button class="select_des_btn">
              <p class="select_product_title">Характеристика товара</p>
              <p class="select_product_title_plus">+</p>
            </button>
            <div class="select_product_text_des">
              <ul class="parameter-main-block">
                {{#each product.options}}
                    <li class="parameter-item">
                        <p class="p-r-des-text-2">{{this.key}}</p>
                        <p class="p-r-des-text-2">{{this.value}}</p>
                    </li>
                {{/each}}
              </ul>
            </div>
          </li>
          <li class="select_product_li ">
            <button class="select_des_btn">
              <p class="select_product_title">Цена в рассрочку</p>
              <p class="select_product_title_plus">+</p>
            </button>
            <div class="select_product_text_des">
              <ul class="parameter-main-block">
                <p class="select_product_text">
                  Примерные цены на рассрочку :
                </p>
                {{#each product.prices}}
                    <li class="parameter-item">
                        <p class="p-r-des-text-2">На {{this.months}} месяца</p>
                        <p class="p-r-des-text-2">{{this.per_month}} Сум</p>
                    </li>
                {{/each}}
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

{{>footer}}